/**! 
* Declare side wide typography imports and variables here 
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic);

$open_sans: "Open Sans", sans-serif;

$font_default: $open_sans;

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$line_height_default: 1.75;
$font__line-height-pre: 1.6;